* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .box {
        position: relative;
        width: 400px;
        height: 100px;
        background: #fff;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.025);

        .content {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;

            .icon {
                position: relative;
                min-width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;

                ion-icon {
                    font-size: 2.5em;
                    color: var(--clr);
                    transition: 0.5s ease-in-out;
                }
            }

            .text {
                h3 {
                    font-weight: 500;
                    color: var(--clr);
                    transition: 0.5s ease-in-out;
                }
                p {
                    font-size: 0.9em;
                    color: #999;
                    transition: 0.5s ease-in-out;
                }
            }
        }
    }
    .box:nth-child(1) {
        transform: translateX(-70px);
    }
    .box:nth-child(3) {
        transform: translateX(70px);
    }
    :hover box:nth-child(1) {
        transform: translateX(0);
    }
    :hover box:nth-child(3) {
        transform: translateX(0);
    }
    .box::before {
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background: var(--clr);
        transition: 0.5s ease-in-out;
    }
    .box:hover::before {
        width: 100%;
    }

    .box:hover {
        .content {
            .icon {
                ion-icon {
                    color: #fff;
                }
            }
        }
    }
    .box:hover {
        .content{
            .text h3,
            .text p {
                color: #fff;
            }
        }
    }
}